<h1>商品情報編集</h1>

<div class="container">
	<div class="row">

		<%= form_for(@frame, url: "/admin/items/#{@frame.id}") do |f| %>

			<h4>画像</h4>
			<%= f.attachment_field :image %><br>

			<h4>フレーム名(品番)</h4>
			<%= f.text_field :name %><br><br>

			<h4>カラー</h4>
			<%= f.text_field :color %><br><br>

			<h4>レンズの横幅</h4>
			<%= f.number_field :lens_width %><br><br>

			<h4>天地幅</h4>
			<%= f.number_field :lens_length %><br><br>

			<h4>ブリッジ</h4>
			<%= f.number_field :bridge %><br><br>

			<h4>テンプル</h4>
			<%= f.number_field :temple %><br><br>

			<h4>生産国</h4>
			<%= f.text_area :production %><br><br>

			<h4>ジャンル</h4>
			<!-- mapを使って、ジャンルのをセレクトボタンで選択する -->
			<%= f.select :genre_id, @genres.map{|g| [g.name, g.id] } %><br><br>

			<%= f.submit '保存' %>

		<% end %>
	</div>
</div>