<h1>取扱商品一覧</h1>

<div class="container">
	<div class="row">
		<table class="table table-bordered">
			<thead style="background-color: #E0FFFF">
				<tr>
					<th><p>画像</p></th>
					<th><p>品番</p></th>
					<th><p>カラー</p></th>
					<th><p>モデル</p></th>
					<th><p>商品説明</p></th>
					<th><p>詳しく見る</p></th>
				</tr>
			</thead>

			<tbody>
				<% @frames.each do |frame| %>
					<tr>
						<td><%= attachment_image_tag frame, :image, :fill, 150, 150 %></td>

						<td><item><%= frame.name %></item></td>

						<td><item><%= frame.color %></item></td>

						<td><item><%= frame.genre.name %></item></td>

						<td><item><%= frame.body %></item></td>

						<td><item><%= link_to "詳細ページ", admin_item_path(frame.id) %></item></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>