<h1>取扱商品一覧</h1>

<div class="container">
	<div class="row">
		<table class="table table-bordered">
			<thead style="background-color: #E0FFFF">
				<tr>
					<th><p1>画像</p1></th>
					<th><p1>品番</p1></th>
					<th><p1>カラー</p1></th>
					<th><p1>モデル</p1></th>
					<th><p1>レンズ横幅</p1></th>
					<th><p1>天地幅</p1></th>
					<th><p1>ブリッジ</p1></th>
					<th><p1>テンプル</p1></th>
					<th><p1>生産国</p1></th>
					<th><p1>詳しく見る</p1></th>
				</tr>
			</thead>

			<tbody>
				<% @frames.each do |frame| %>
					<tr>
						<td><%= attachment_image_tag frame, :image, :fill, 300, 200 %></td>

						<td><item><%= frame.name %></item></td>

						<td><item><%= frame.color %></item></td>

						<td><item><%= frame.genre.name %></item></td>

						<td><item><%= frame.lens_width %></item></td>

						<td><item><%= frame.lens_length %></item></td>

						<td><item><%= frame.bridge %></item></td>

						<td><item><%= frame.temple %></item></td>

						<td><item><%= frame.production %></item></td>

						<td><item><%= link_to "詳細ページ", admin_item_path(frame.id) %></item></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>