<h1>商品詳細</h1>

<div class="container">
	<div class="row">

		<table align="center">
				<tr>
					<th><%= attachment_image_tag @frame, :image, :fill, 500, 250 %></th>
				</tr>
			<tbody>
				<tr>
					<td><p><%= @frame.name %></p></td>
				</tr>
				<tr>
					<td><p><%= @frame.color %></p></td>
				</tr>
				<tr>
					<td><p><%= "レンズ横幅：" %><%= @frame.lens_width %></p></td>
				</tr>
				<tr>
					<td><p><%= "天地幅：" %><%= @frame.lens_length %></p></td>
				</tr>
				<tr>
					<td><p><%= "ブリッジ：" %><%= @frame.bridge %></p></td>
				</tr>
				<tr>
					<td><p><%= "テンプル：" %><%= @frame.temple %></p></td>
				</tr>
				<tr>
					<td><p><%= "生産国：" %><%= @frame.production %></p></td>
				</tr>
			</tbody>
		</table>

		<div align="center">
			<!-- 編集ページに遷移 -->
			<p><%= link_to "編集", edit_admin_item_path %></p><br>

			<p><%= link_to "削除", admin_item_path(@frame), method: :delete %></p><br>
		</div>
	</div>
</div>