<div class="title">お気に入り</div>

<div class="container">
	<div class="row">

		<% @favorites.each do |f| %>
			<div class="col-md-4">
				<p><%= attachment_image_tag f.item, :image, :fill, 350, 200 %></p><br>
				<p><%= f.item.name %></p><br>
				<p><%= f.item.color %></p><br>
				<p><%= f.item.body %></p><br>

				<p><%= link_to '商品ページへ', item_path(f.item_id) %></p><br>

				<p><%= link_to 'お気に入り解除', user_favorite_path(current_user.id, f.id), method: :delete %></p><br><br>
			</div>
		<% end %>
		<%= paginate @favorites, class: "paginate" %>
	</div>
</div>